# Ignore node_modules in frontend
*/node_modules/

# Ignore build directory (production files)
frontend/build/

# Ignore log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore dotenv environment variables file
frontend/.env

# Ignore coverage directory used by testing tools
frontend/coverage/

# Ignore .next (Next.js specific) directory
frontend/.next/

# Ignore Webpack output
frontend/dist/

# Ignore local IDE and editor files
frontend/.idea/
frontend/.vscode/
frontend/*.sublime-workspace

# Ignore macOS system files
frontend/.DS_Store

# Ignore miscellaneous
frontend/*.log
frontend/.cache/
